<div class="resize">
    <ul id="navbar">
        <li id="left"><a href="/homepage" class="nav-item">Home</a></li>
        <li><a href="/profile" class="nav-item">Profile</a></li>
        <li><a href="/trips" class="nav-item">Plan a trip</a></li>
        <li id="right"><a href="/logout" class="nav-item">Logout</a></li>
    </ul>
</div>
<p id="serverErr">{{error}}</p>
<div id="error" hidden></div>
<p></p>
<form id="selection" action="/trips/itinerary" method="POST">
     {{#if trips.length}}
        <select name="tripName" id="tripName">
        {{#each trips}}
            <option value="{{this.name}}">{{this.name}}</option>
        {{/each}}
        </select>
        <label for="submit">
            <button type="submit" name="submit" id="submit">Submit</button>
        </label>
    {{else}}
        <a href="/trips">create a trip first!</a>
    {{/if}}
    {{!-- <select name="tripName" id="tripName">
        {{#each trips}}
        <option value="{{this.name}}">{{this.name}}</option>
        {{/each}}
    </select>
    <label for="submit">
        <button type="submit" name="submit" id="submit">Submit</button>
    </label> --}}
</form>