<form action="/trips/map/{{userId}}/{{name}}" method="POST" id="mapSearch">
    <label for="newStop">New Stop:
        <input name="newStopInput" id="newStopInput" type="text">
    </label>
    <input type="hidden" name="_method" value="PUT">
    <button type="submit">Submit</button>
</form>
<div id="container">
    <div id="map"></div>
    <div id="sidebar">
    <p>Total Distance: <span id="totalDist"></span></p>
    <p>Total Time: <span id="totalTime"></span></p>
    <div id="panel"></div>
    </div>
</div>
<script
    src="https://maps.googleapis.com/maps/api/js?key=${INSERT_APIKEY_HERE}&callback=Map&v=weekly"
    start="{{mData.start_location}}"
    end="{{mData.end_location}}"
    stops="{{mData.stops}}"
    defer>
</script>
<script>
    const myForm2 = document.getElementById('mapSearch');
    myForm2.addEventListener('submit', function(event) {
        event.preventDefault(); // prevent the form from submitting normally
        
        // create a new FormData object from the form data
        const formData2 = new FormData(myForm2);
        
        // send the PUT request using fetch
        fetch(myForm2.action, {
        method: 'PUT',
        body: formData2
        })
        .then(response => {
        // handle the response
        continue;
        })
        .catch(error => {
        // handle the error
        console.log(error)
        });
    });
    </script>
{{!-- <script  src="../public/js/cart.js"></script> --}}

{{!-- ${INSERT_APIKEY_HERE} --}}