<ul id="navbar">
    <li id = "left"><a href="/homepage" class="nav-item">Home</a></li>
    <li><a href="/profile" class="nav-item">Profile</a></li>
    <li><a href="/trips" class="nav-item">Plan a trip</a></li>
    <li id = "right"><a href="/logout" class="nav-item">Logout</a></li>
</ul>
<div id="float-container">
    <img src="https://media.tenor.com/_kqZQY5wX2sAAAAC/orange-cat-smile-cat-smile.gif" alt="its you :)" id="pfp">
    <div>
        {{!-- spacer --}}
    </div>
    <div id="info">
        {{!-- <h2 class="profile">user info</h2> --}}
        <p class="profile">First Name: {{firstNameInput}}</p>
        <p class="profile">Last Name: {{lastNameInput}}</p>
        <p class="profile">Email Address: {{emailAddressInput}}</p>
    </div>
</div>
<div>

</div>
<h2>my trip board</h2>
<p>view any trips you create here!</p>
<div id="trip-holder">
{{#each trips}}
    <div class="trips">
        <div class="content">
            <div id="contains">
                <p class ="next">Name of Trip:</p>
                <a href="#" onclick='window.open("localhost:3000/trips/map/{{this.userId}}/{{this.name}}")'/>{{this.name}}</a>
            </div>
            <div id="contains">
                <p class="next">Start Location: </p>
                <p>{{this.start_location}}</p>
            </div>
            <div id="contains">
                <p class="next">Start Date:</p>
                <p> {{this.start_date}}</p>
            </div>
            <div id="contains">
                <p class="next">Start Time: </p>
                <p>{{this.start_time}}</p>
            </div>
            <div id="contains">
                <p class="next">End Location:</p>
                <p>{{this.end_location}}</p>
            </div>
            <div id="contains">
                <p class="next">End Date: </p><p>{{this.end_date}}</p>
            </div>
            <div id="contains">
                <p class="next">End Time:</p><p>{{this.end_time}}</p>
            </div>
            <div id="contains">
                <p class="next">Overall Cost:</p><p>{{this.overallCost}}</p>
            </div>
            <p class="pad">Stops:</p>
            {{#each this.stops}}
                <p>- {{this}}</p>
            {{/each}}
            <p class="pad">Things To Do:</p>
            {{#each this.to_do}}
                <p>- {{this}}</p>
            {{/each}}
        </div>
    {{!-- <p>{{this.usersAllowed}}</p> --}}
    </div>

{{/each}}
</div>


{{! link to trips }}
{{! link to logout }}
{{! filter trips }}
