<p>First Name: {{firstNameInput}}</p>
<p>Last Name: {{lastNameInput}}</p>
<p>Email Address: {{emailAddressInput}}</p>

<p>My Trips: </p>
{{#each trips}}
    <div id="{{this._id}}">
        <p>{{this.name}}</p>
        <p>{{this.start_location}}</p>
        <p>{{this.start_date}}</p>
        <p>{{this.start_time}}</p>
        <p>{{this.end_location}}</p>
        <p>{{this.end_date}}</p>
        <p>{{this.end_time}}</p>
        <p>Stops:</p>
        {{#each this.stops}}
            <p>{{this}}</p>
        {{/each}}
        <p>Things todo:</p>
        {{#each this.to_do}}
            <p>{{this}}</p>
        {{/each}}
    {{!-- <p>{{this.usersAllowed}}</p> --}}
    </div>

{{/each}}

<div>
    <img src="https://cdn.pixabay.com/photo/2020/02/10/08/56/emoji-4835770_1280.png" alt="its you :)">
</div>
{{! link to trips }}
{{! link to logout }}
{{! filter trips }}
